bedrock-agentcore-starter-toolkit>=0.1.21
bedrock-agentcore
playwright
rich
matplotlib
strands-agents
seaborn
fastapi
uvicorn
langgraph
black
isort
flake8
mypy
pre-commit
pydantic_settings # consider removing this
